<nav class="grey darken-3">
    <div class="class nav-wrapper container">
        <a href="" class="brand-logo center">StoryBooks-Let's Go!</a>
    </div>
     <div class="class nav-wrapper container">
        <a href="" 
        data-target ="mobile-demo"
        class = "sidenav-trigger">StoryBooks-Let's Go!</a>
    </div>

</nav>
    
{{!-- we are using Materialize --}}